<div class="flex flex-wrap justify-center">
  <div class="flex justify-center m-auto md:w-1/2 p-6">
    <div
      class="w-48 h-48 md:w-64 md:h-64 rounded-xl mt-9 bg-gradient-to-b from-orange-300">
      <img
        src="assets/images/frontend.svg"
        alt="" />
    </div>
  </div>
  <div class="flex flex-col items-center m-auto md:items-start md:w-1/2 p-6">
    <app-atoms-title> Frontend </app-atoms-title>
    <app-atoms-simple-text class="w-3/4">
      I have been a software engineer for seven years, with a long history of
      accepting and delivering challenges. I truly love what I do, reading and
      writing code is more than my profession because I take it as a personal
      hobby too. (It was as a hobby where it all started).
    </app-atoms-simple-text>
  </div>
</div>
