<button
  *ngIf="!fullColor"
  class="text-white font-semibold text-xs py-1 px-3 border rounded border-orange-300 hover:bg-orange-200 hover:text-inherit transition">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</button>

<button
  *ngIf="fullColor"
  class="text-xs font-semibold bg-orange-300 py-1 px-3 rounded hover:bg-orange-200 hover:text-inherit transition">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</button>

<ng-template #content><ng-content></ng-content></ng-template>
