<app-atoms-section id="Experience">
  <div class="flex flex-col w-full">
    <div class="flex justify-center">
      <app-atoms-title-section>
        <span title>My Experiences</span>
        <span subtitle>My Abilities</span>
      </app-atoms-title-section>
    </div>
    <div class="main-carousel">
      <div class="carousel-cell">
        <app-experience-slides-frontend></app-experience-slides-frontend>
      </div>
      <div class="carousel-cell">
        <app-experience-slides-backend></app-experience-slides-backend>
      </div>
    </div>
  </div>
</app-atoms-section>
